/* CreateExpense.css */

body {
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-top:30px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 450px;
    margin: 40px auto;
}

input, select {
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 8px;
    border: 2px solid #b9e3eaff; 
    width: 100%;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    outline: none;
    border-color: #36a2eb; /* subtle blue highlight */
    box-shadow: 0 0 6px rgba(54, 162, 235, 0.5);
}

select {
    cursor: pointer;
}

.create-button{
    margin: 15px 0;
    padding: 12px 20px;
    background-color: #b9e3eaff; 
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: #36a2eb;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

@media (max-width: 500px) {
    form {
        width: 90%;
        padding: 20px;
    }
    
    input, select, button {
        width: 100%;
    }
}