.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.navbar .logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.navbar .links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar .links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}
.navbar .logout-button{
    background-color: #b9e3eaff;    
    
}

