body{
    background-color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif;


    
}
.from-group{
    width: 400px;
    height: 400px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin: 100px;
}


 form{
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     box-shadow: none;
 }
   
h2{
    text-align: center;
    margin-top: 50px;

    margin-top: 50px;
}
input{

    margin: 10px;
    padding:10px;
    border-radius: 5px;
    border-color: aquamarine;
    border-width: 2px;
}
button{
    margin: 10px;
    padding:10px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #000;


    
    border-width: 2px;
}
